body {
	-webkit-font-smoothing: antialiased;

	a {
		transition: .2s;
	}
}

.likeh1 {
	font-family: $headings-font-family;
	font-size: 2.5rem;
}

.entry-content img {
	margin-bottom: 1rem;
	border-radius: 6px;
	box-shadow: 1px 5px 26px -20px #616060;
}

[class^="wp-container-"] > :where(:not(.alignleft):not(.alignright)) {
	max-width: 1140px;
	margin-left: auto !important;
	margin-right: auto !important;
}

.entry-content {
	.alignfull {
		padding: 3rem 1rem;

		@include media-breakpoint-up(md) {
			padding: 3rem 0;
		}

    	.wp-block-columns {
    		margin: 0 auto;
    	}
	}
}