footer.site-footer {
	.footer-social {
		padding: 1.5rem;
		background: #333333;
		text-align: center;
		font-size: 1rem;

		a {
			&:hover {
				text-decoration: none;
			}
		}

		.fa-stack {
			line-height: 1.95em;
		}

		.fa-twitter,.fa-facebook, .fa-instagram {
			color: #333333;
			font-size: 1.5rem;
		}

		ul {
			padding-left: 0;
			list-style: none;
		}

		@include media-breakpoint-down(sm) {
			hr {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.site-info {
		padding: 3rem 0;
		background: #1f1f1f;
		color: $white;
		text-align: center;
		text-transform: uppercase;
		font-weight: normal;
		letter-spacing: 2px;
	}

	a {
		color: $white;
		&:hover {
			color: lighten($primary, 25%);
		}
	}
}